# Python bytecode / cache
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/

# Environment variables (sensitive data)
.env

# Testing / Coverage
.pytest_cache/
.coverage
htmlcov/
*.log

# Operating System files
.DS_Store
Thumbs.db
desktop.ini

# IDEs/Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
