# ---------------------------------------------------------
# PyTaskQ Core Dependencies
# ---------------------------------------------------------
fastapi>=0.100.0
uvicorn>=0.23.0
redis>=5.0.0
pydantic>=2.0.0
pydantic-settings>=2.0.0
croniter>=2.0.0
python-dotenv>=1.0.0

# ---------------------------------------------------------
# Tracing / Observability (OpenTelemetry)
# ---------------------------------------------------------
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp

# ---------------------------------------------------------
# Example App & Task Handlers Dependencies
# (Used in example_app.py and tests)
# ---------------------------------------------------------
numpy>=1.26.0
Pillow>=10.0.1
requests>=2.31.0

# ---------------------------------------------------------
# Development & Testing (Dev Env)
# ---------------------------------------------------------
pytest>=8.0.0
pytest-asyncio>=0.23.0
fakeredis[lua]>=2.20.0
httpx>=0.26.0
locust>=2.20.0
